
/*

body{

height: 100vh;


}


.conteneur
{

background-image: url('./image.webp');
height: 100%;
width:100%;
display: flex;
flex-direction: column;
justify-content: center; 


}


.sous-conteneur{


display:flex;
justify-content:space-between;




}


h1{
    
font-size:100px;
text-decoration:underline;
color:green;

}
*/